{% load static%}
{% load custom_tags %}

<style>
    tr:nth-child(even) {
        background-color: #D6EEEE;
      }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding:0.5rem;
        text-align: center;
      }

    a {
        cursor: pointer;
        color: blue
    }
    a:hover{
        filter:brightness(0.5)
    }
</style>

<h1 class="h1title">{{texts.activities}}</h1>
<h2 class="h2title">{{texts.registernumber}}: {{userlog | length}}</h2>

{% with objects=userlog%}
<div class="flexrow">
    <div id="selectobject">
        <label for="paginatorselector">{{texts.rowmax}}:</label>
        <select onchange="paginateActivities({{ objects.number }})" id="paginatorselector">
            {% if paginatorDefault%}<option hidden value="{{paginatorDefault}}">{{paginatorDefault}}</option>{% endif %}
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div hidden id ="searchbox">
        <label for="paginatorfilter">{{texts.txtSearch}}:</label>
        <input onchange="paginateActivities({{ objects.number }})" type="text" id="paginatorfilter" value="">
    </div>
</div>
{% endwith %}

<table>
<tr>
    {% for key in userlogheaders %}
    <th>{{key}}</th>
    {% endfor %}
</tr>
{% for data in userlog %}
<tr>
    {% for key in userlogheaders %}
    <td>{{data | get_key:key}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if userlog.has_previous %}
            <a onclick="paginateActivities(1)">&laquo; {{texts.txtFirst}}</a>
            <a onclick="paginateActivities({{ userlog.previous_page_number }})">{{texts.txtPrevious}}</a>
        {% endif %}

        <span class="current">
            {{texts.page}} {{ userlog.number }} {{texts.txtof|lower}} {{ userlog.paginator.num_pages }}.
        </span>

        {% if userlog.has_next %}
            <a onclick="paginateActivities({{ userlog.next_page_number }})">{{texts.txtNext}}</a>
            <a onclick="paginateActivities({{ userlog.paginator.num_pages }})">{{textx.txtLast}} &raquo;</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'accounts/js/functions.js'%}"></script>

<script>

async function paginateActivities(page){
    url = "{% url 'each_account_page' id %}"
    obj = activities
    await fetchobject(url, {'key': 'activities', 'page': page, 'amount':paginatorselector.value}, obj)
}
</script>